	.ui-datepicker {
		width: 29em;
		padding: .2em .2em 0;
		display: none;
	}
	#searchFieldText:focus {
		color: #fff;
	}
	.alert {
		width: 300px;
	}
	html, body{
		background: black;
		padding: 10px;
	}

	#input {
		color: #fff;
		text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
		margin: 100px auto;
	}
	.login-form {
		font-family: 'Roboto', sans-serif;
		width: 400px;
		height: 280px;
		margin: 100px auto;
		position: relative;
		background: #3d3d3d;
		border: 1px solid;
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0,0,0,1.0);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,1.0);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,1.0);

	}
	.footer {
		padding: 8px;
		overflow: auto;
	}
	.form {
		font-family: 'Roboto', sans-serif;
		width: 800px;;
		height: 690px;;
		position: relative;
		margin: 100px auto;
		background: #3d3d3d;
		border: 1px solid;
		color: #4a3b3b;
		border-radius: 5px;
		box-shadow: 0 1px 3px rgba(0,0,0,1.0);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,1.0);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,1.0);
		border-color:white;
	}
	#content {
		padding: 20px;
	}
	.button {
				font-family: 'Roboto', sans-serif;
		text-align: center;
		background: black;
		padding: 5px;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		-ms-border-radius: 7px;
		-o-border-radius: 7px;
		border-radius: 7px;
		color: white;
		cursor: pointer;
		width: 100px;
	}
	.button {
				font-family: 'Roboto', sans-serif;
		text-align: center;
		background: black;
		padding: 5px;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		-ms-border-radius: 7px;
		-o-border-radius: 7px;
		border-radius: 7px;
		color: white;
		cursor: pointer;
		width: 100px;
	}


	.button:focus{
		color: black;
		background: #E8A900;
		border: 1px solid rgba(256,256,256,0.75);
		box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
		-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	}
	.student {
		float:right;
		padding: 11px 25px;
				font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 14px;
		background: black;
		text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
		color: white;
		background: black;
		border: 1px solid #46b3d3;
		border-radius: 5px;
		cursor: pointer;
	}
	.staff {
		float:right;
		padding: 11px 25px;
				font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 14px;
		background: black;
		text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
		color: white;
		background: black;
		border: 1px solid #46b3d3;
		border-radius: 5px;
		cursor: pointer;
	}
	span.tab{
    padding: 0 20px; /* Or desired space*/
	}
	span.space{
    padding: 0 8px; /* Or desired space*/
	}
	.description {
		height: 80px;
		width: 80%;
		font-size: 14px;
		color: #9d9e9e;
		text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
		padding: 3px;
		background: #fff;
		border: 1px solid #fff;
		border-radius: 5px;
		box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
		-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	}
	#searchFieldText:focus {
		color: #fff;
	}

	.table {
		margin:0px;
		padding:0px;
		width:100%;
	}
	.table table{
		width:100%;
		height:100%;
		margin-left:auto; 
		margin-right:auto;
	}

	.table tr:nth-child(odd){ background-color:#e6e6e6; color: black;}.table td{	
	
	}

	.table tr:nth-child(even)    { background: #4d4d4d;  color: white;}.table td{
		vertical-align:middle;
		border-width:0px 1px 1px 0px;
		text-align:left;
		padding:8px;
		font-size:16px;
		font-family: 'Roboto', sans-serif;
		font-weight:normal;
		
	}

	.table tr:last-child td{
		border-width:0px 1px 0px 0px;
	}.table tr td:last-child{
		border-width:0px 0px 1px 0px;
	}.table tr:last-child td:last-child{
		border-width:0px 0px 0px 0px;
	}
	.table tr:first-child td{

		vertical-align:middle !important;
		height: 50px;
		font-size:17px;
		font-family: 'Roboto', sans-serif;	
		font-weight:bold;
	}
	.table tr:first-child:hover td{
		background-color: black;
	}
	.table-hover>tbody>tr:hover>td {
		
		background-color: #303030 ;
	}

	.claimItem {
		-moz-box-shadow:inset 0px 0px 0px 0px #f9eca0;
		-webkit-box-shadow:inset 0px 0px 0px 0px #f9eca0;
		box-shadow:inset 0px 0px 0px 0px #f9eca0;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #E8A900) );
		background:-moz-linear-gradient( center top, #f0c911 5%, #E8A900 100% );
		text-indent:0px;
		border-radius: 0.4em;
		border:1px solid white;
		display:inline-block;
		color: black;
		font-family: 'Roboto', sans-serif;
		font-size:15px;
		font-style:normal;
		height:25px;
		width:150px;
		text-decoration:none;
		text-align:center;
		text-shadow:1px 0px 0px #ded17c;
	}
	.claimItem:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E8A900), color-stop(1, #f0c911) );
		background:-moz-linear-gradient( center top, #E8A900 5%, #f0c911 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8A900', endColorstr='#f0c911');
		background-color:#E8A900;


	}.claimItem:active {
		position:relative;
		top:1px;
	}
	.buttons {
		-moz-box-shadow:inset 0px 0px 0px 0px #f9eca0;
		-webkit-box-shadow:inset 0px 0px 0px 0px #f9eca0;
		box-shadow:inset 0px 0px 0px 0px #f9eca0;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #E8A900) );
		background:-moz-linear-gradient( center top, #f0c911 5%, #E8A900 100% );
		border-radius: 0.4em;
		text-indent:0px;
		border:1px solid white;
		display:inline-block;
		color: black;
		font-family: 'Roboto', sans-serif;
		font-size:15px;
		font-style:normal;
		height:25px;
		width:100px;
		text-decoration:none;
		text-align:center;
		text-shadow:1px 0px 0px #ded17c;
		margin:10px;
	}
	.buttons:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E8A900), color-stop(1, #f0c911) );
		background:-moz-linear-gradient( center top, #E8A900 5%, #f0c911 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8A900', endColorstr='#f0c911');
		background-color:#E8A900;
		cursor: pointer;
	}.buttons:active {
		position:relative;
		top:1px;
	}
	.editButtons {
		-moz-box-shadow:inset 0px 0px 0px 0px #f9eca0;
		-webkit-box-shadow:inset 0px 0px 0px 0px #f9eca0;
		box-shadow:inset 0px 0px 0px 0px #f9eca0;
		background: rgb(255, 204, 51); background: rgba(255, 204, 51, 0.6);
		text-indent:0px;
		border:1px solid white;
		display:inline-block;
		color: black;
		font-family: 'Roboto', sans-serif;
		font-size:15px;
		font-style:normal;
		height:25px;
		width:60px;
		text-decoration:none;
		text-align:center;
		text-shadow:1px 0px 0px #ded17c;
	}
	.editButtons:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E8A900), color-stop(1, #f0c911) );
		background:-moz-linear-gradient( center top, #E8A900 5%, #f0c911 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8A900', endColorstr='#f0c911');
		background-color:#E8A900;
		cursor: pointer;
		border-color:white;
		-moz-box-shadow: 0px 0px 20px white;
		-webkit-box-shadow: 0px 0px 20px white;
		box-shadow: 0px 0px 20px white;
	}.editButtons:active {
		position:relative;
		top:1px;
	}
	
	.information{
		color: white;
		padding: 5px 15px 2px 15px;

	}
	.itemClaimed{
		display: none;
		color: white;
		padding: 5px 15px 2px 15px;
	}
	.box:focus, .description:focus, .date:focus{

		color: #414848;
		border: 1px solid #fff;
		border-radius: 5px;
	}
	.box{
				font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 14px;
		width: 30%;
		color: #9d9e9e;
		text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
		padding: 3px;
		background: #fff;
		border: 1px solid #fff;
		border-radius: 5px;
		box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
		-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	}
	.description {
				font-family: 'Roboto', sans-serif;
		height: 80px;
		width: 80%;
		font-size: 18px;
		color: #9d9e9e;
		text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
		padding: 3px;
		background: #fff;
		border: 1px solid #fff;
		border-radius: 5px;
		box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
		-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	}
	#add-claim {
		padding: 10px;
		background-color: black;
	}
	#show {
		padding: 10px;
	}
	.dropdown {
				font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 14px;
		width: 30%;
		color: #9d9e9e;
		text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
		padding: 3px;
		background: #fff;
		border: 1px solid #fff;
		border-radius: 5px;
		box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
		-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
		
	}
	.date{
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 14px;
		height: 30px;
		width: 30%;
		color: #9d9e9e;
		text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
		padding: 3px;
		background: #fff;
		border: 1px solid #fff;
		border-radius: 5px;
		box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
		-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	}
	tr{
		border: white;
	}

	.titles{
		font-family: 'Roboto', sans-serif;
		line-height: 1em;
		color: white;
		font-size: 30px;
		font-weight: normal !important;
		}
			
	.info{
		font-family: 'Roboto', sans-serif;
		line-height: 1em;
		color: white;
		font-size: 18px;
		font-weight: normal !important;
	}


	#searchFieldText:focus {
		color: #fff;
	}
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		border: 1px solid #d3d3d3;
		background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
		font-weight: normal;
		color: #555555 !important;
	}
	html{
		height: 100%;
		background-color: black;	
	}
	#input {
		color: #fff;
		text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
		margin: 100px auto;
	}
	.form:hover {
		border-color:white;
	}
	.topBanner {
		background: url('images/unions.jpg') ;
		float: left;
		width: 400px;
		height: 100px;
	}
	.top {
		overflow-x: auto;
		overflow-y: hidden;
		width: 100%;
		height: 100px;
		background-color: black;
		float: left;
		margin-bottom: 30px;
	}
	.black {
		overflow-x: auto;
		overflow-y: hidden;
		padding: 5px;
		background-color: black;
	}
	label {
		font-family: 'Roboto', sans-serif;
		font-weight: normal !important;
	}
	.header {
		text-align: center;
	
	}
	.email {
		font-size: 100px;
	}
	span.header{
				font-family: 'Roboto', sans-serif;
		font-size: 13px;
		padding-left: 10px;
		color: black;
		text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
		}
	.footer {
		padding: 8px;
		overflow: auto;
	}
	
	.student {
		float:right;
		padding: 11px 25px;
				font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 14px;
		background: black;
		text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
		color: white;
		background: black;
		border: 1px solid #46b3d3;
		border-radius: 5px;
		cursor: pointer;
	}
	.staff {
		float:right;
		padding: 11px 25px;
				font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 14px;
		background: black;
		text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
		color: white;
		background: black;
		border: 1px solid #46b3d3;
		border-radius: 5px;
		cursor: pointer;
	}
	.credentials{
		color: white;
		padding: 5px 15px 2px 15px;
	}
	.box{
				font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 14px;
		width: 170px;
		height: 30px;
		color: #9d9e9e;
		text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
		padding: 3px;
		background: #fff;
		border: 1px solid #fff;
		border-radius: 5px;
		box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
		-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	}

	.footer {
		padding: 8px;
		overflow: auto;
		border-radius: 6px;
		box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
		-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
		-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	}
	p {
		padding: 10px;
		margin: 0 0 0px !important;
		background-color: black;
	}
	.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
		vertical-align: top !important;
		border-top: 0px solid #ddd !important;
	}
	.pad {
		padding: 0px 30px 30px 30px;
		background-color: black;
	}
	.btn {
		padding: 3px 12px;
	}
	.white {
		font-size:15px;
		text-align: center;
		font-family: 'Roboto', sans-serif;
		color: white;
	}
	.logout {
		color: black;
		float: right;
	}
	a:-webkit-any-link {
	color: -webkit-link;
	text-decoration: none;
	cursor: auto;
	}
	a:hover {
		color: #E8A900 !important;
	}
	.pageTitle{
		padding-top: 0px;
		color: #E8A900;
		font-family: 'Roboto', sans-serif;
        font-size: 60px;
		float: left;
		margin-top: -5px;
		padding-left: 200px;
		font-weight: normal !important;
	}
	.custom {
		background: #E8A900 /*{a-bar-background-color}; */ /* color: #000000 /*{a-bar-color}*/ !important;
	}
	.modal-content-claimed{
		width: 860px;
		background: #d0d0d0;
	}	
	.modal-content{
		width: 650px;
		background: #d0d0d0;
	}
	.modal-header, .modal-footer{
		background:#e5e5e5;
	}
	
	.glyphicon {
		color: black;
		position: relative;
		top: 1px;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		-webkit-font-smoothing: antialiased;
		font-style: normal;
		font-weight: normal;
		line-height: 2;
		-moz-osx-font-smoothing: grayscale;
	}
	
	.navbar-default {
		background-color: #f8f8f8;
		border-color: #e7e7e7;
		display:inline-block;
		min-width:100%;
	}
	
	#header{
		padding-bottom:0px;
	}
	
	td {
		padding: 18px !important;
	}
	.checkbox {
	
	}